@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    color: white;
    background-color: #CCCCCC;
}
header,
footer {
    margin: auto;
    padding: 1rem;
    background-color: #2A81E2;
}
header {
    text-align: center;
}
main {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
    column-gap: .5rem;
    padding: 1rem 2rem;
    justify-items: center;
    justify-content: center;
    max-width: 1200px;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
    color: black;
}
section {
    width: 300px;
    padding: 4px;
    margin: 0;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.65);
}
section img {
    object-fit: cover;
    width: 300px;
    height: 300px;
    aspect-ratio: 1 / 1;
    display: block;
    cursor: pointer;
}
nav a {
    padding: 0.5rem 1rem;
    color: white;
    display: block;
    text-align: center;
}
nav.hide {
    display: none;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
}

/* modal */
/* dialog {
    border: none;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
} */
dialog {
    border: none;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}
dialog img {
    width: 80%;
    display: block;
    margin: 20vh auto;
}
.close-viewer {
    position: absolute;
    top: 16vh;
    right: 6%;
    padding: 3px 6px;
    font-size: 1.5em;
    cursor: pointer;
    border: none;
    background: white;
}
footer {
    text-align: center;
    color: white;
}

@media screen and (min-width: 700px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
    dialog img {
        width: 85%;
    }
    .close-viewer {
        right: 4.5%;
    }
}

@media screen and (min-width: 1000px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .menu-btn {
        display: none;
    }
    nav a {
        display: inline;
    }
    nav {
        display: flex !important;
        justify-content: center;
        gap: 2rem;
    }
    dialog img {
        width: 65%;
        margin: 16vh auto;
    }
    .close-viewer {
        top: 11.75vh;
        right: 15.25%;
    }
}
